apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: velero
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: velero
  source:
    repoURL: https://vmware-tanzu.github.io/helm-charts
    chart: velero
    targetRevision: 5.0.3
    helm:
      releaseName: velero
      values: |
        configuration:
          backupStorageLocation:
            provider: aws
            bucket: velero-backup
            config:
              s3Url: http://minio.minio.svc.cluster.local:9000
              region: minio
          volumeSnapshotLocation:
            provider: aws
            config:
              region: minio
        schedules:
          daily:
            schedule: "0 2 * * *"
            template:
              ttl: 720h
              includedNamespaces:
                - "*"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
